
<head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" 
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
</head>
<body> 
{% if imageName is none %}
    <div id="fileUploader">
        <form method="post" enctype="multipart/form-data">
            <input id="inputId" name="mapPicture" type="file">
            <br/>
            <button>Submit</button>  
        </form>
    </div>
{% else %}
   <canvas id="mapImage" onclick="rgb(event)" style="width:80%;"></canvas>
{% endif %}

<div>
    <div id="map" style="height:80%; width: 80%; float:left;"></div>
    <div><i id="down" class="fa fa-arrow-circle-down" style="font-size:48px;"></i></div>
    <div><i id="up" class="fa fa-arrow-circle-up" style="font-size:48px;"></i></div>
    <div><i id="right"class="fa fa-arrow-circle-right" style="font-size:48px;"></i></div>
    <div><i id="left" class="fa fa-arrow-circle-left" style="font-size:48px;"></i></div>    
    <div><input type="range" id="zoom" name="zoomRange" min="0.04" max="2500" value="100"></div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    var m_image = new Image();
    m_image.src = "{{ imageName }}";

    var m_canvas = document.getElementById("mapImage");
    var m_context = m_canvas.getContext("2d");

    m_image.onload = function() 
    {
        m_canvas.width = m_image.width;
        m_canvas.height = m_image.height;
  
        m_context.drawImage(m_image,0,0);
    };

    // Global variable map and contour
    var m_contour;

    var m_map = L.map("map");
    /*L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoic2h1cmlra3V6bWluIiwiYSI6ImNra3l2bzdxbzBjbmcyd254NnhoZDF3cmgifQ._0te87zWem2eNpjvzQuvTA'
    }).addTo(m_map);*/

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; ' +'<a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(m_map);
    m_map.setView([55.0, 35.0], 8);
    L.control.scale().addTo(m_map);

    function rgb(event)
    {
        var imageData = m_context.getImageData(event.clientX, event.clientY, 1, 1).data;

        $.ajax(
        {
            url : "{{ url_for('process') }}", 
            type : "POST",
            data: 
            {    
                    red: imageData[0], 
                    green: imageData[1], 
                    blue: imageData[2],
                    fileName: "{{ imageName }}"
            }, 
            // handle a successful response
            success: function(contour) 
            {
                // We need to make this stuff draggable without
                // any errors processing
                m_contour = L.geoJSON(contour.geoJSON).addTo(m_map);
                m_marker = L.marker(contour.center).addTo(m_map);
                m_marker.dragging.enable();
                
                m_marker.on("drag", function(event)
                {
                    contour2 = m_contour.toGeoJSON();
                    coors2 = contour2.features[0].geometry.coordinates[0];
                    lat = 0.0
                    lon = 0.0
                    for (i = 0; i < coors2.length - 1; i++) 
                    {
                        lat = lat + coors2[i][0];
                        lon = lon + coors2[i][1];
                    }
                    lat = lat / (coors2.length - 1)
                    lon = lon / (coors2.length - 1)
                    
                    for (i = 0; i < coors2.length - 1; i++) 
                    {
                        coors2[i][0] = coors2[i][0] + this.getLatLng().lng - lat;
                        coors2[i][1] = coors2[i][1] + this.getLatLng().lat - lon;
                    }

                    m_contour.getLayers()[0].remove();
                    m_contour = L.geoJSON(contour2).addTo(m_map);
                    //console.log(this.getLatLng());
                });
            },
        });
    };

    $( "#down" ).click(function() 
    {
        contour2 = m_contour.toGeoJSON();
        coors2 = contour2.features[0].geometry.coordinates[0];
        for (i = 0; i < coors2.length - 1; i++) 
        {
           coors2[i][1] = coors2[i][1] - 0.5;
        }
        m_contour.getLayers()[0].remove();
        m_contour = L.geoJSON(contour2).addTo(m_map);
    });

    $( "#up" ).click(function() 
    {
        contour2 = m_contour.toGeoJSON();
        coors2 = contour2.features[0].geometry.coordinates[0];
        for (i = 0; i < coors2.length - 1; i++) 
        { 
           coors2[i][1] = coors2[i][1] + 0.5;
        };
        m_contour.getLayers()[0].remove();
        m_contour = L.geoJSON(contour2).addTo(m_map);
    });

    $( "#left" ).click(function() 
    {
        contour2 = m_contour.toGeoJSON();
        coors2 = contour2.features[0].geometry.coordinates[0];
        
        for(i = 0; i < coors2.length - 1; i++) 
        { 
           coors2[i][0]=coors2[i][0]-0.5;
        };
        m_contour.getLayers()[0].remove();
        m_contour = L.geoJSON(contour2).addTo(m_map);
    });

    $( "#right" ).click(function() 
    {
        contour2 = m_contour.toGeoJSON();
        coors2 = contour2.features[0].geometry.coordinates[0];
        
        for(i = 0; i < coors2.length - 1; i++) 
        { 
           coors2[i][0] = coors2[i][0] + 0.5;
        };
        m_contour.getLayers()[0].remove();
        m_contour = L.geoJSON(contour2).addTo(m_map);
    });


    function transformToEuclidianCoordinates(coors)
    {
        for(i = 0; i < coors.length - 1; i++) 
        { 
           coors[i][1] = Math.log(Math.tan(0.25 * Math.PI + 0.5 * coors[i][1] * Math.PI / 180.0)) * 180.0 / Math.PI;
        }
    };

    function transformToGeoCoordinates(coors)
    {
        for(i = 0; i < coors.length - 1; i++) 
        { 
           coors[i][1] = 180.0 / Math.PI * (2.0 * Math.atan(Math.exp(coors[i][1] * Math.PI / 180.0)) - 0.5 * Math.PI);
        }
    };

    var m_zoom = 0;
    $("#zoom").change(function (event) 
    {
        zoomValue = parseInt($('[name="zoomRange"]').val());
        
        m_currentZoom = m_map.getZoom();

        contour2 =  m_contour.toGeoJSON(); 
        coors2 = contour2.features[0].geometry.coordinates[0];
        transformToEuclidianCoordinates(coors2);

        console.log(coors2);

        // Fix the current ratio
        if(m_currentZoom != m_zoom)
        {
            m_zoom = m_currentZoom;
            maxLat = -1000.0;
            maxLon = -1000.0;
            minLat = 1000.0;
            minLon = 1000.0;
            for (i = 0; i < coors2.length - 1; i++)
            {
                if (coors2[i][0] > maxLat) maxLat = coors2[i][0];
                if (coors2[i][1] > maxLon) maxLon = coors2[i][1];
                if (coors2[i][0] < minLat) minLat = coors2[i][0];
                if (coors2[i][1] < minLon) minLon = coors2[i][1];
            }
            rangeLat = maxLat - minLat;
            rangeLon = maxLon - minLon;
        }

        console.log(m_zoom);
        
        lat = 0.0;
        lon = 0.0;
        currentMaxLat = -1000.0;
        currentMaxLon = -1000.0;
        currentMinLat = 1000.0;
        currentMinLon = 1000.0;

        for(i = 0; i < coors2.length - 1; i++) 
        { 
            lat = lat + coors2[i][0];
            lon = lon + coors2[i][1];
            if (coors2[i][0] > currentMaxLat) currentMaxLat = coors2[i][0];
            if (coors2[i][1] > currentMaxLon) currentMaxLon = coors2[i][1];
            if (coors2[i][0] < currentMinLat) currentMinLat = coors2[i][0];
            if (coors2[i][1] < currentMinLon) currentMinLon = coors2[i][1];
        };

        currentRangeLat = currentMaxLat - currentMinLat;
        currentRangeLon = currentMaxLon - currentMinLon;

        lat = lat / (coors2.length - 1);
        lon = lon / (coors2.length - 1);
        
        for(i = 0; i < coors2.length - 1; i++) 
        { 
           coors2[i][0] = lat + (coors2[i][0] - lat) * zoomValue / 100.0 * rangeLat / currentRangeLat;
           coors2[i][1] = lon + (coors2[i][1] - lon) * zoomValue / 100.0 * rangeLon / currentRangeLon;
        };
        
        transformToGeoCoordinates(coors2);

        m_contour.getLayers()[0].remove();
        m_contour = L.geoJSON(contour2).addTo(m_map);

    });

</script>
